

<div class="container-xxl">
<h1> <%= "Inhabit #{@planet.name}" %></h1>
</div>
<%= form_for [@planet, @alien_planet] do |f| %><br>
     <%= f.hidden_field :planet_id, value: @planet.id %>
    <h3> Name of Campaign </h3> 
    <%= f.text_field :name %><br>
    <%=f.label :species %><br>
    <%=f.collection_select :species_id, Species.all, :id, :name, prompt: true %><br>
   
    <%= f.submit "Submit" %>
    <% end %>
  
    
  