<br>

  <div class="alien_invasion">
  <%= image_tag("logos/invasion.jpeg") %>
  
  <div class="card" style="width: 18rem;">
  <div class="card-body">
  
<h1> Inhabitation Campaigns: </h1>
 

<% if @planet %>
<h1> <%= @planet.name %> </h1>
<% end %>




<% @alien_planets.each do |alien_planet| %>
<%= link_to alien_planet do %>
  
    
   
 

<h6> Campaign Name:  <%= link_to alien_planet.name, planet_alien_planets_path(alien_planet.planet)  %>  </h6>
<h5> Species </h5>
<%= link_to alien_planet.species_name, alien_planet.species  %>
<h5> Planet </h5>
<%= link_to alien_planet.planet_name, alien_planet.planet  %>

<% end %>
<% end %>
<>
</div>
 </div>
 </ul>


