<br>
<div class="container-sml">
<h1> Inhabitation Campaigns </h1>
 

<% if @planet %>
<h1> <%= @planet.name %> </h1>
<% end %>


<ul class="no-bullets">

<% @alien_planets.each do |alien_planet| %>
<%= link_to alien_planet do %>
  <div class="card-body">
    
   
 

<h6> Campaign Name </h6>
<li> <h2> <%= link_to alien_planet.name, planet_alien_planets_path(alien_planet.planet)  %> </h2> </li>
<h5> Species </h5>
<li><%= link_to alien_planet.species_name, alien_planet.species  %></li>
<h5> Planet </h5>
<li><%= link_to alien_planet.planet_name, alien_planet.planet  %></li>
<% end %>
<% end %>
 </div>
 </ul>


