



<h1> Inhabitation Campaign: </h1>
<h1><%= @alien_planet.name %><br></h1>
   
<h2> Species </h2>
<%= link_to @alien_planet.species_name, planet_alien_planets_path(@species) %> 
 
<h2> Species Threat Level :
 
<%= @alien_planet.species.threat__level %> </h2> <br>
    
    
   

<%= button_to "Edit #{@alien_planet.name}", edit_alien_planet_path(@alien_planet), method: :get %>
<%= button_to "Delete #{@alien_planet.name}", @alien, method: :delete %>

