<%= link_to @alien_planet.name, @alien_planet %><br>

<% if @current_user.alien_planet.species.any? %>
<ul> 

  <li> <% @species.planets.each do |planet| %></li> <br>
    <li><%= link_to planet.name, planet %></li>
  <% end %>
 

</ul>

<% else %>
<ul><li><%= @species.name %> has no planets yet! </li></ul>
<% end %>
<% @alien_planet.species.each do |alien_planets| %> <br>
    <% planet_species = @planets.species.find(planets.species_id) %> <br>
    <%= link_to @planet_species.name, planet_path(@planet_species) %> <br>
    <%= link_to alien_species.name, alien_species_path(alien_species) %> <br>
  <% end %>
<%= button_to "Edit #{@alien_planet.name}", edit_alien_planet_path(@alien_planet), method: :get %>
<%= button_to "Delete #{@alien_planet.name}", @alien, method: :delete %>

