

   <%= form_for @species do |f| %>
    <% if @species.errors.any? %>
    <p><%= "#{pluralize(@species.errors.count, "error")} prevented this species from being saved:" %></p>
    <ul><% @species.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
    <% end %>
    <%=f.label :name %><br>
    <%=f.text_field :name %><br>
    <%= f.submit %>
    <% end %>
    <%= link_to 'Back', species_path(@species) %>
  
  