




<%= @species.name %><br>

<% if @species.name.include?('Tall Grey') %>
<%= image_tag("logos/download.jpg") %>
<% end %>

<h5> Power Level </h5>
<%= @species.power_level %>
<br>




<h5> Planets Claimed </h5>

<% if @species.planets.any? %>
 

  <% @species.planets.each do |planet| %> <br>
    <h1> <%= link_to planet.name, planet %> </h1>
  <% end %>
 

</ul>

<% else %>
<ul><%= @species.name %> has no planets yet! 
<% end %>




    
   