



<div class = "div1">
<h1> <%= @species.name %><br> </h1>



<% if @species.name.include?('Tall Grey') %>
<div class="bodyspecies">
<%= image_tag("logos/bigAlien.jpg") %>
<% end %>
</div>


<% if @species.name.include?('Reptilian') %>
<div class="reptilian">
<%= image_tag("logos/reptile.jpg") %>
<% end %>
</div>


<% if @species.name.include?('Xenomorph') %>
<%= image_tag("logos/xenomorph.jpg") %>
<% end %>
</div>

<% if @species.name.include?('Insectoid') %>
<div class="Insectoid">
<%= image_tag("logos/insect.jpg") %>
<% end %>
<% if @species.name.include?('Plasma Being') %>
<div class="plasma_being">
<%= image_tag("logos/psychodelic-meditation.jpg") %>
<% end %>
</div>

<div class="card" style="width: 18rem;">
  
  
  
  <div class="card-body">

<h5> Threat Level </h5>
<h2> <%= @species.power_level %> </h2>
<br>




<h5> Planets Inhabited </h5>

<% if @species.planets.any? %>
 

  <% @species.planets.each do |planet| %> <br>
    <h1> <%= link_to planet.name, planet %> </h1>
  <% end %>
 

</ul>

<% else %>
<ul><%= @species.name %> has no planets yet! 
<% end %>


</div1>

    
   