<br></br>


        <h1>  ET creator: <%= @user.name %> </h1><br>
        
        <div class = "object-position-1" >
        <% if @current_user.avatar.attached? %>
        </div>
        <br>
      <image src="<%=(url_for(@current_user.avatar)) %>" alt="profile pic" height="250", width="250"><br>
      <% end %>
             

     <h2> <%= link_to " Posts", posts_path  %> </h2>
     <h2> <%= link_to " Search", users_path %> </h2>

<div class="row">
  <div class="offset-4 col-md-4">
      <h3 class='text-center'>
      <h2> <%= @user.name %>'s Aliens </h2>
        <% @current_user.aliens.each do |alien| %>
            <h1>  <%= link_to alien.name, alien %> </h1>
           <% end %>
          
      </h3>
      
  </div>
</div>

<div class="row">
  <div class="offset-4 col-md-4">
      <h3 class='text-center'>
      <h2> <%= @user.name %>'s Planets</h2>
        <% @current_user.planets.each do |planet| %>
            <h1>  <%= link_to planet.name, planet %> </h1>
           <% end %>
          </h3>
    </div>
</div>
     







      

 
          
