<br></br>

          
<h2> <%= link_to " Posts", posts_path  %> </h2>
     <div class="nav navbar-right ">
        <h4>  ET creator: <%= @user.name %> </h4>
        <br>
        <% if @user.avatar.attached? %>
<image src="<%=(url_for(@user.avatar)) %>" alt="profile pic" height="250", width="250"><br>
      <% end %>
     </div><br></br>


<div class="row">
  <div class="offset-4 col-md-4">
      <h3 class='text-center'>
      <h2> <%= @user.name %>'s Aliens </h2>
        <% @current_user.aliens.each do |alien| %>
            <h1>  <%= link_to alien.name, alien %> </h1>
           <% end %>
          
      </h3>
      
  </div>
</div>

<div class="row">
  <div class="offset-4 col-md-4">
      <h3 class='text-center'>
      <h2> <%= @user.name %>'s Planets</h2>
        <% @current_user.planets.each do |planet| %>
            <h1>  <%= link_to planet.name, planet %> </h1>
           <% end %>
          </h3>
    </div>
</div>




      

 
          
