
  
 

  <%= form_for @planet do |f| %>
    <% if @planet.errors.any? %>
    <p><%= "#{pluralize(@planet.errors.count, "error")} prevented this Planet from being saved:" %></p>
    <ul><% @planet.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
    <% end %>
    <%=f.label :name %><br>
    <%=f.text_field :name %><br>
    <%= f.submit %>
    <% end %>
    <%= link_to 'Back', planets_path %>