
  
 

  <%= form_for @planet do |f| %>
     <%= render partial: "layouts/errors", locals: {record: @planet} %>
     <br>
    <h2> Name of Planet </h2><br>
    <%=f.text_field :name %><br>
     <h2> Moons </h2><br>
    <%=f.number_field:moons , step: :any %>  <br>
    <%= f.submit %>
    <% end %>
    <%= link_to 'Back', planets_path %>