
<br>
<div class="exoplanetes">
  <%= image_tag("logos/exoplanets.jpg") %>
 </div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h1 class="card-title"><%=  link_to @planet.name, @planet%></h1>
    <br>
    
    <h2> <%= link_to "Inhabit #{@planet.name}", new_planet_alien_planet_path(@planet)%> </h2>
    
<h5> Number of Moons </h5>
<%= @planet.moons %><br>
</div>
<br>


<%= button_to "Edit #{@planet.name}", edit_planet_path(@planet), method: :get %>
<%= button_to "Delete #{@planet.name}", @planet, method: :delete %><br></br>

 
<h5> Species Inhabiting <%= @planet.name %> </h5>

<div class = "div1">
<% if @planet.species.any? %>
<% @planet.species.each do |species| %> <br>
  
   <h1> <%= link_to species.name, species %> </h1>
   </div>
  <% end %>
 <% else %>
<%= @planet.name %> is vacant! 
<% end %>



</div>