
<br>
<h1> <%= link_to @planet.name, @planet %> </h1><br></br>

<%= link_to "Claim This Planet ", new_planet_alien_planet_path(@planet) %>
 

<h5> Number of Moons </h5>
<%= @planet.moons %><br>
<br>


<%= button_to "Edit #{@planet.name}", edit_planet_path(@planet), method: :get %>
<%= button_to "Delete #{@planet.name}", @planet, method: :delete %><br></br>

 
<h5> Species Inhabiting <%= @planet.name %> </h5>

<% if @planet.species.any? %>
<% @planet.species.each do |species| %> <br>
   <h1> <%= link_to species.name, species %> </h1>
  <% end %>
 <% else %>
<%= @planet.name %> is vacant! 
<% end %>