
<%= form_for @spaceship do |f| %>
    <% if @spaceship.errors.any? %>
    <p><%= "#{pluralize(@spaceship.errors.count, "error")} prevented this Alien from being saved:" %></p>
    <ul><% @spaceship.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
    <% end %>
    <%=f.label :name %><br>
    <%=f.text_field :name %><br>
    <%=f.label :speed%> <h2> "(Miles per hour)" </h2><br>
    <%=f.number_field:speed , step: :any %>  <br>
 
    <%= f.submit "Submit", class: "button small radius" %><br>
    <% end %>