<h1> Name: <%= @spaceship.name %> </h1>
<h3> speed: <%= @spaceship.speed %> miles per hour. </h3>


<% if @spaceship.name.include?('TR-3B') %>
<div class="tr3b">
<%= image_tag("logos/tr3b2.jpg") %>
<% end %>
</div>

<% if @spaceship.name.include?('Flying Disc') %>
<div class="disc">
<%= image_tag("logos/flydisc.jpg") %>
<% end %>
</div>

<% if @spaceship.name.include?('Mothership') %>
<div class="mothership">
<%= image_tag("logos/Finalbattle77.jpg") %>
<% end %>
</div>

