<div class="no-bullets">


<h3>Posts</h3>
<div class="container">
    <% @posts.each do |post| %>
     
        <li> <%= link_to post.title, post %></li>
        
        <p><%= form_for Like.new do |f| %>
        <%= f.hidden_field :post_id, value: post.id %>
        <%= f.submit "ðŸ‘ #{post.likes.size}" %>
        <% end %>
     
    <% end %>
 </div>
</div>

<br>

<%= link_to 'New Post', new_post_path, @post %>