

<h1> Create an Alien </h1>
<%= form_for @alien do |f| %>
  <%= render partial: "layouts/errors", locals: {record: @alien} %>
    <%=f.label :name %><br>
    <%=f.text_field :name %><br>
    <%=f.label :threat_level %><br>
    <%=f.number_field :threat_level %><br>
    <%=f.label :origin %><br>
    <%=f.text_field :origin %><br>
    <%=f.label :psychic %><br>
    <%=f.check_box :psychic %><br>
    <%=f.label :species %><br>
    <%=f.collection_select :species_id, Species.all, :id, :name, prompt: true %><br>
    <%=f.label :spaceship %><br>
    <%=f.collection_select :spaceship_id, Spaceship.all, :id, :name, prompt: true %>
    <%=f.submit "Submit", class: "button small radius" %><br>
    <% end %>